<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>todoList</title>
	<style type="text/css">
	body{
		background-color: #9e8b8c;
	}
	.todolistDiv{
		margin:200px auto;
		width:350px;
		height: auto;
	}
	.btn{		
		opacity: 0.5;
		border: none;
		margin-left: 10px;
	}
	.add{
		height: 40px;
		width: 100px;
		border:1px solid #ccc;
		border-radius: 5px;
	}
	.ipt{
		box-shadow:0 0 8px #9668db;
		border:1px solid #ccc;
		border-radius: 5px;
		height: 40px;
		width: 200px;
	}
	span{
		font-size: 50px;
	}
	.liDiv{
		margin-top: 10px;
	}
	.complete{
		color: blue;
	}
	</style>
</head>
<body>
<!-- todolist练手项目 -->
	<div id="vue-todolist" class="todolistDiv">
	<span> ToDoList</span>
		<input class="ipt" type="text" v-model="inputVaule" v-on:keyup.enter="add"/>
		<button v-on:click="add" class="btn add">add</button>
		<ul >
			<li v-for="item in items" >
			<div class="liDiv">
				<input type="checkbox" v-model="item.completed">
				<label  v-bind:class="{ complete:item.completed }">{{item.text}}</label>
				<button v-on:click="removeTodo(item)" class="btn">x</button></li>
			</div>
		</ul>
	</div>
	<!-- vue框架 -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="vue-resource.js"></script>
	<script src="vuetest.js"></script>

</body>
</html>